*.o
*.old
*.bak
*.gv
*.png
*.csv
seeds.txt
tests/**/*-automaton.txt
tests/**/*-result.txt
tests/emptiness/*-automaton.lp
Doxyfile
Parser.cpp
Scanner.cpp
file_descriptor.cpp
Parser.h
Scanner.h
Parser.frame
Scanner.frame
version.h
cococpp
bracket
random_automaton
CocoSourcesCPP.zip
boost_1_75_0.tar.gz
coco-md5.txt
boost-md5.txt
CocoSourcesCPP
boost
doc/html
doc/latex
